<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="https://kit.fontawesome.com/8d24a6e83f.js" crossorigin="anonymous"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <section id="section-header">
      <%- include("partials/navbar") %>
      <div class="container-fluid p-0">
        <div id="image-article"></div>
        <div
          class="d-flex justify-content-center align-items-center"
          style="text-align: center"
          id="texto-central-article"
        >
          <div>
            <h2><%=article.title%></h2>
            <small class="creadoPorWhite"
              ><%=`Creado por ${article.author.firstname} ${article.author.lastname} el
              ${article.createdAt}`%></small
            >
          </div>
        </div>
      </div>
    </section>
    <section id="section-content-article">
      <div class="container">
        <p class="mt-4"><%=article.content%></p>
        <section id="section-article-comments">
          <div>
            <form>
              <div class="title-form">Add your comment</div>
              <div>
                <label
                  for="articleCommentAuthor"
                  class="form-label m-0"
                  style="position: absolute"
                ></label>
                <input
                  type="text"
                  class="form-control mt-3"
                  id="commentAuthor"
                  placeholder="Name"
                />
              </div>

              <div class="mb-3">
                <label for="articleCommentContent" class="form-label"></label>
                <textarea
                  type="text"
                  class="form-control"
                  id="articleCommentContent"
                  style="height: 150px"
                ></textarea>
              </div>

              <button type="submit" class="btn btn-primary container-fluid">send</button>
            </form>
            <div class="column" id="articleCommentsPrevious">
              <div class="title-form mt-3">Comments</div>
              <%for (const comment of comments) {%>
              <div class="row">
                <h4 class="mt-3"><%=comment.content%></h4>
                <h5><%=`Creado por ${comment.user} el ${comment.createdAt}`%></h5>
                <hr />
              </div>
              <% }%>
            </div>
          </div>
        </section>
      </div>
    </section>
    <section id="section-footer"><%- include("partials/footer") %></section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
